<section class="landing">
  <div class="container">
    <div class="row paddding-bottom-15">
      <%= image_tag 'japanflag', class: 'japanese-flag' %>
      <h2><strong>Japanese Test</strong></h2>
    </div>
    <div class="row paddding-bottom-15">
      <%= link_to 'Try <strong>N4</strong> questions'.html_safe, examwithlevel_path('n4'), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</section>
